# Import Stataments

In [1]:
#Basic Import Statements
import pandas as pd
import numpy as np
import json

#Plot Import Statements
import seaborn as sns
import matplotlib.pyplot as plt

#To Ignore Warnings in Output
import warnings
warnings.filterwarnings('ignore')

## Converting Review Json file to Dataframe

###### Review file

In [2]:
#since pd.readjson will cause memeory error, we read the file line by line
path = '../yelp_dataset/yelp_academic_dataset_review.json'
review = []
with open(path, encoding = 'utf-8') as fin:
    for line in fin:
        line_contents = json.loads(line)
        review.append(line_contents)

In [3]:
review = pd.DataFrame(review)
review.shape

(6990280, 9)

In [4]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3.0,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5.0,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3.0,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5.0,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4.0,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15

In [5]:
#Dropping unnecessary columns in review file.
review.to_csv('./output_csv/review.csv',index = False)

# Fetching from csv

In [2]:
review = pd.read_csv('./output_csv/review.csv')
business = pd.read_csv('./output_csv/business_PA_clean_tour.csv')

##### Getting only the reviews of food category restraurants in PA state

In [3]:
business_id_ls = business.business_id.unique()

In [20]:
review_index = []
for i in range(review.shape[0]):
    if review.business_id[i] in business_id_ls:
        review_index.append(i)

In [21]:
review = review.iloc[review_index,:]

In [6]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
6,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5.0,0,2,0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18
22,J-4NdnDZ0pUQaUEEwDI9KQ,vrKkXsozqqecF3CW4cGaVQ,rjuWz_AD3WfXJc03AhIO_w,5.0,2,2,2,I thoroughly enjoyed the show. Chill way to s...,2012-12-04 16:46:20
37,pHwbdway4yeI-dSSmZA7-Q,qEEk0PuoH1dVa619t8fgpw,PY9GRfzr4nTZeINf346QOw,4.0,0,0,0,We checked in around 2:30 pm. Check-in was qu...,2017-09-20 16:16:47
46,Ki90-hauSIfW_7sBuBBqfA,Z2cOL3n9V8NoguJ-uU_Nvw,j8JOZvfeHEfUWq3gEz6ABQ,2.0,2,3,0,NEVER AGAIN. This is a so called restaurant th...,2014-06-11 14:55:14
70,HuWEnZr7-0HveaqXxyywgg,Eb8LgZArKmW0KgW6lTni-w,YbnJYHNp_fHbI-hcFg48vQ,5.0,2,0,2,The kayaking tour at the Santa Cruz Island was...,2009-08-03 21:55:27

In [7]:
review.shape

(336301, 9)

In [8]:
yr_ls = [eval(x.split('-')[0]) for x in review.date]
review['year'] = yr_ls

In [9]:
review = review.reset_index(drop = True)

In [10]:
review.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date,year
0,6AxgBCNX_PNTOxmbRSwcKQ,r3zeYsv1XFBRA4dJpL78cw,gmjsEdUsKpj9Xxu6pdjH0g,5.0,0,2,0,Loved this tour! I grabbed a groupon and the p...,2015-01-03 23:21:18,2015
1,J-4NdnDZ0pUQaUEEwDI9KQ,vrKkXsozqqecF3CW4cGaVQ,rjuWz_AD3WfXJc03AhIO_w,5.0,2,2,2,I thoroughly enjoyed the show. Chill way to s...,2012-12-04 16:46:20,2012
2,pHwbdway4yeI-dSSmZA7-Q,qEEk0PuoH1dVa619t8fgpw,PY9GRfzr4nTZeINf346QOw,4.0,0,0,0,We checked in around 2:30 pm. Check-in was qu...,2017-09-20 16:16:47,2017
3,Ki90-hauSIfW_7sBuBBqfA,Z2cOL3n9V8NoguJ-uU_Nvw,j8JOZvfeHEfUWq3gEz6ABQ,2.0,2,3,0,NEVER AGAIN. This is a so called restaurant th...,2014-06-11 14:55:14,2014
4,HuWEnZr7-0HveaqXxyywgg,Eb8LgZArKmW0KgW6lTni-w,YbnJYHNp_fHbI-hcFg48vQ,5.0,2,0,2,The kayaking tour at the Santa Cruz Island was...,2009-08-03 21:55:27,2009

In [11]:
review.shape

(336301, 10)

In [12]:
review = review.drop(columns = ['useful','funny','cool','date','text'])
review['stars'] = review['stars'].astype(int)

In [13]:
#WRITE THE FILE INTO CSV FORMAT
review.to_csv('./output_csv/review_PA_clean_tour.csv',index = False)

##### Getting Only Philly reviews

In [14]:
review = pd.read_csv('./output_csv/review_PA_clean_tour.csv')
business = pd.read_csv('./output_csv/business_PA_Philly_clean_tour.csv')

In [15]:
business_id_ls = business.business_id.unique()

In [16]:
review_index = []
for i in range(review.shape[0]):
    if review.business_id[i] in business_id_ls:
        review_index.append(i)

In [17]:
review = review.iloc[review_index,:]

In [18]:
review = review.reset_index(drop = True)

In [19]:
#WRITE THE FILE INTO CSV FORMAT
review.to_csv('./output_csv/review_PA_Philly_clean_tour.csv',index = False)